.root {
    main-color: #F3F4F7;       /* Create a looked-up color called "main-color" within root. */
    -fx-background-color: main-color;
    -fx-background-image: url("../images/background.jpg");
    -fx-background-size: stretch;
}

.text-field {
    -fx-background-color: #FFFFFF;
    -fx-font: 20px "Arial";
}

.button {
    -fx-background-color: #FFCB05;
    -fx-font: italic bold 16px "Arial";
}

.button:hover {
    -fx-background-color:#E6B800;
    -fx-font-size: 18px;
}

.button:pressed {
    -fx-background-color:#1F9FDD;
    -fx-font-size: 20px;
}

.scroll-pane,
.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-bar {
    -fx-font-size: 10px;  /* Change width of scroll bar. */
    -fx-background-color: main-color;
}

.scroll-bar .thumb {
    -fx-background-color: rgba(0,0,0,0.25);
    -fx-background-radius: 1em;
}

/* Hides the increment and decrement buttons. */
.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-pref-height: 0;
    -fx-opacity: 0;
}
